.sizeGrid {
  border: 1px black;
  border-style: dashed ;
  width: 7rem;
  position: relative;
  height: 7.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  p {
    margin: 0;
    overflow: hidden;
    max-height: 1rem;
    text-align: center;
    width: 10ch;
    letter-spacing: 0.01rem;
  }
}
