.addButton {
  background-color: transparent;
  border: none;
  border-radius: 0.5rem;
  :hover {
    background-color: rgba(240, 255, 255, 0.144);
    border-radius: 0.5rem;
    color: rgb(233, 232, 232);
  }
}
.AddIcon {
  color: var(--color-green);
}
