.containerApp {
  min-height: 100vh;
  position: relative;
}
.gridTemplate {
  // display: inline-block;
  width: calc(100% - 4rem);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
}
