.containerApp {
  min-height: 100vh;
  position: relative;
}
.gridTemplate {
  // display: inline-block;
  width: calc(100% - 4rem);
  display: flex;
  justify-content: center;
  // align-items: center;
  flex-wrap: wrap;
  // min-height: 100vh;
}
.navSection {
  width: 4rem;
  height: 100vh;
  background-color: var(--color-white);
  position: fixed;
  right: 0;
  top: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
}


.configIcon {
  color: var(--color-gray);
}
