.containerGlobal {
  width: calc(100% - 4rem);
  height: 100vh;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerSetInfo {
  height: auto;
  display: flex;
  position: relative;
  padding: 2rem;
  background-color: #232327;
  overflow: hidden;
  border-radius: var(--radius-sm);
}

.buttonIcon {
  width: 10rem;
  height: 10rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  &:hover {
    background-color: #37373a7a;
    border-radius: var(--radius-sm);
  }
}

.containerLink {
  width: 75%;
}
.containerText{
  width: 90%;
}
.containerFolder{
  width: 100%;
}