.containerGlobal {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerSetInfo {
  width: 100%;
  max-width: 88rem;
  height: 100%;
  overflow: hidden;
  max-height: 85vh;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 1.5rem 1.5rem 1.5rem;
  background-color: var(--background-color-text);
  border-radius: var(--radius-md);
  color: var(--color-folder-font);
  textarea {
    resize: none;
    height: 100%;
    background-color: var(--background-color-textarea);
    color: var(--color-font);
    border: none;
    border-radius: var(--radius-sm);
    padding: 0.5rem;
  }
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
}
