.containerGlobal {
  width: calc(100% - 4rem);
  height: 100vh;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonClose {
  position: absolute;
  top: 0.75rem;
  left: 0.75rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
}
.windowSection {
  width: 100%;
  max-width: 100rem;
  height: 100vh;
  max-height: 80%;
  background-color: #2d3748;
  border-radius: var(--radius-md);
  position: relative;
  margin: 1rem;
  overflow: hidden;
  display: flex;
  padding: 0 1.5rem 1.5rem 1.5rem;
  flex-direction: column;
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #a0aec0;
  font-weight: 400;
  height: 4rem;
}
.wrapperItems {
  display: flex;
  flex-wrap: wrap;
  // align-items: flex-start;
  border: 1px dashed greenyellow;
  // flex-grow: 1;
  height: 100%;
  position: relative;
  overflow-y: scroll;
}
.containerButtonAdd {
  width: 3rem;
  position: absolute;
  right: 0;
}
