.containerGlobal {
  width: calc(100% - 4rem);
  height: 100vh;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.windowSection {
  width: 100%;
  max-width: 100rem;
  height: 100vh;
  max-height: 80%;
  background-color: var(--color-folder-background);
  border-radius: var(--radius-md);
  position: relative;
  margin: 1rem;
  overflow: hidden;
  display: flex;
  padding: 0 1.5rem 1.5rem 1.5rem;

  color: var(--color-folder-font);
  flex-direction: column;
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  height: 3rem;
}
.wrapperItems {
  display: flex;
  flex-wrap: wrap;
  min-height: 6rem;
  position: relative;
  overflow-y: scroll;
}
.wrapperItems::-webkit-scrollbar {
  display: none;
}
.containerButtonAdd {
  width: 3rem;
  position: absolute;
  right: 0;
}
